<div class="back">
    <h1>Nossos produtos</h1>
    <div class="slider">
        <button (click)="prevSlide()" aria-label="Item anterior"><i class="fa-solid fa-caret-left"></i></button>
        <div class="carousel">
            <img [@slideAnimation]="currentIndex" loading="lazy" [src]="slides[currentIndex]" alt="Nossos produtos" class="active">
        </div>
        <button (click)="nextSlide()" aria-label="Próximo item"><i class="fa-solid fa-caret-right"></i></button>
    </div>
    <div class="pages">
        <div class="line"></div>
        <h2>{{ currentIndex + 1}} / 9</h2>
        <div class="line"></div>
    </div>
</div>