<div class="back">
    <div class="about-section">
        <div>
            <div class="title">Sobre nós</div>
            <div class="about">Fundada em 08/09/2015 e localizada em Maringá-PR, A CMH atende
            ao mercado público e privado nos estados de Rio Grande do Sul, Santa
            Catarina, Paraná, São Paulo, Minas Gerais, Mato Grosso e Mato
            Grosso do Sul. Possuindo mais de 2.000 itens entre medicamentos e
            material hospital, a CMH possui uma linha completa de medicamentos
            injetáveis, seringas, agulhas e saneantes. Também com o segmento de
            medicamentos oncológicos e medicamentos de Demanda Judicial para
            órgão público.</div>
        </div>
        <img src="about-image-desktop.jpg" alt="Distribuímos confiança">
    </div>
    <div class="ideals-container">
        <h1>Nossos Valores e Ideais</h1>
        <div class="ideals">
            <div class="ideal">
                <i class="fa-solid fa-scroll"></i>
                <h2>Missão</h2>
                <p>Oferecer produtos de alta tecnologia e qualidade, registrados na ANVISA, com inovação,
                preços acessíveis e foco na saúde e bem-estar dos consumidores</p>
            </div>
            <div class="ideal">
                <i class="fa-solid fa-eye"></i>
                <h2>Visão</h2>
                <p>Ser reconhecida como a melhor empresa do segmento no mercado
                nacional, manter atualizada em novidades de produtos ao profissionais
                de saúde.
                </p>
            </div>
            <div class="ideal virtue">
                <i class="fa-solid fa-shield-halved"></i>
                <h2>Valores</h2>
                <ul>
                    <li>Inovar e aperfeiçoar com responsabilidade</li>
                    <li>Manter a integridade e idoneidade</li>
                    <li>Respeito ao próximo</li>
                    <li>Respeito ao Meio-Ambiente</li>
                    <li>Espírito Empreendedor</li>
                    <li>Crescimento Sustentável</li>
                    <li>Equipe qualificada, ética e comprometida</li>
                    <li>Evidênciar e valorizar os clientes</li>
                </ul>
            </div>
        </div>
       
    </div>
    <div class="policy">
        <h1>Política de Qualidade CMH</h1>
        <div class="wrapper">
            <img src="politica-qualidade-1.png" class="politica-qualidade" alt="Nossas políticas de qualidade">
            <img src="politica-qualidade-2.png" class="politica-qualidade" alt="Nossas políticas de qualidade">
        </div>
    </div>
</div>