<div class="back">
    <div class="info">
        <img src="logo.png" alt="Logo da empresa" (click)="toSection('header')">
        <div class="cmh" (click)="toSection('header')">CMH</div>
        <div class="icons">
            <a href="https://api.whatsapp.com/send?phone=5544991563651&text=Olá,%20vim%20pelo%20site%20da%20distribuidora%20CMH%20e%20gostaria%20de%20tirar%20uma%20dúvida.&source=&data=&app_absent" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/cmhfarmaceutica" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="divider"></div>
    <p class="copyright">Copyright © 2025 CMH - Central de Medicamentos Hospitalares - LTDA. Todos os direitos reservados</p>
</div>