<header>
    <div class="container">
        <img src="../../../../public/assets/logo.png" alt="Logo Cmh" id="logo">
        <div class="title-container">
            <div class="title">CMH</div>
            <div class="complete-title">CMH - Central de Medicamentos Hospitalares</div>
            <a href="#" class="shop-link">Confira nossa loja<i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <div class="nav">
        <button (click)="toSection('about')">Sobre Nós</button>
        <button (click)="toSection('products')">Nossos produtos</button>
        <button (click)="toSection('contact')">Entre em contato</button>
    </div>
</header>