@use 'ngx-toastr/toastr';

.toast {
  z-index: 99999 !important;
}

:root{
  --primary-color: #2C2D7D;
  --secondary-color: #5f60af;
  --primary-text-color: #3d3c3c;
  --secondary-text-color: #585757;
  --white: #ffffff;
  --black: #0e0e0e;
  --red: #F22F3C;
  --instagram-icon-color: #E4405F;
  --whatsapp-icon-color: #25D366;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

@keyframes firstCardMovingAnimation {
    
    0%{
        transform: translate(0, 0);
    }

    5%{
        transform: translate(0, 0);
    }

    10%{
        transform: translate(0, 0);
    }

    15%{
        transform: translate(0, 0);
    }

    20%{
        transform: translate(0, 0);
    }

    25%{
        transform: translate(0, 0);
    }

    30%{
        transform: translate(-20em, 0em);
    }

    35%{
        transform: translate(-20em, 13em);
    }

    40%{
        transform: translate(-20em, 25em);
    }
    
    45%{
        transform: translate(0em, 25em);
    }

    50%{
        transform: translate(0em, 25em);
    }

    55%{
        transform: translate(0em, 25em);
    }

    60%{
        transform: translate(0em, 25em);
    }

    65%{
        transform: translate(0em, 25em);
    }

    70%{
        transform: translate(0em, 25em);
    }

    75%{
        transform: translate(20em, 25em);
    }

    80%{
        transform: translate(20em, 13em);
    }

    85%{
        transform: translate(20em, 0);       
    }

    100%{
        transform: translate(0, 0);
    }
}

@keyframes secondCardMovingAnimation {
    
    0%{
        transform: translate(0, 0);
    }

    5%{
        transform: translate(0, 0);
    }

    10%{
        transform: translate(0, 0);
    }

    15%{
        transform: translate(0, 0);
    }

    20%{
        transform: translate(0, 0);
    }

    25%{
        transform: translate(0, 0);
    }

    30%{
        transform: translate(20em, 0em);
    }

    35%{
        transform: translate(20em, -13em);
    }

    40%{
        transform: translate(20em, -25em);
    }
    
    45%{
        transform: translate(0em, -25em);
    }
    
    50%{
        transform: translate(0em, -25em)
    }

    55%{
        transform: translate(0em, -25em)
    }

    60%{
        transform: translate(0em, -25em)
    }

    65%{
        transform: translate(0em, -25em)
    }

    70%{
        transform: translate(0em, -25em)
    }

    75%{
        transform: translate(-20em, -25em);
    }

    80%{
        transform: translate(-20em, -13em);
    }

    85%{
        transform: translate(-20em, 0);       
    }

    100%{
        transform: translate(0, 0);
    }
}

@keyframes beatAnimation {
    
    0%{
        transform: none;
    }

    50%{
        transform: translateY(-.5em);
    }

    100%{
        transform: none;        
    }
}